footer {
  padding: 90px 0 80px;
  font-size: 24px;
}
footer h3 {
  font-size: 40px;
  font-weight: normal;
  margin: 0 0 16px;
}
footer .phone {
  margin: 26px 0 43px;
  font-size: 96px;
  font-weight: normal;
}
footer .btn {
  margin: 50px 0 0;
  padding: 0 20px;
}
footer .list-social {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 0;
  top: 20px;
}
footer .list-social li {
  margin: 0 0 28px;
}
footer .list-social li:last-child {
  margin: 0;
}

.address {
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.address .svg-icon {
  fill: #EF402F;
  margin: 0 5px 0 0;
  width: 13px;
  height: 17px;
  min-width: 13px;
}

.call-box {
  padding: 0 0 0 88px;
  border-left: 1px solid #EF402F;
  position: relative;
  height: 100%;
}
.call-box .box-text {
  max-width: 590px;
}

.link-developer {
  margin: 32px 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #707070;
  font-size: 14px;
}
.link-developer span {
  margin: 0 8px 0 0;
}
.link-developer:hover {
  color: #EF402F;
}