header {
  position: fixed;
  z-index: 5;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  padding: 34px 0;
}
header .btn-group {
  margin: 0 40px 0 0;
}

.phone {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}
.phone:hover {
  color: #EF402F;
}

.logo {
  margin: 0;
  max-width: 122px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-menu {
  margin: 0 auto;
}
.nav-menu .logo, .nav-menu .user-navigation, .nav-menu .btn-callback, .nav-menu .phone, .nav-menu .list-social, .nav-menu .schedule {
  display: none;
}
.nav-menu .phone {
  width: 100%;
  text-align: center;
  margin: 60px auto;
  font-size: 18px;
}
.nav-menu .user-navigation {
  margin: 60px auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu li {
  margin: 0 20px 0 0;
}
.menu li:last-child {
  margin: 0;
}
.menu li a {
  color: #000000;
}
.menu li a:hover {
  color: #EF402F;
}

.user-navigation__link {
  fill: none;
  margin: 0 20px 0 0;
  stroke: #EF402F;
  width: 24px;
  height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.user-navigation__link:hover {
  fill: #EF402F;
}
.user-navigation__link:last-child {
  margin: 0;
}

.schedule {
  color: #363636;
  margin: 0 60px 0 0;
}
.schedule span {
  width: 100%;
  display: block;
  font-size: 12px;
}
.schedule p {
  font-size: 16px;
  font-weight: 500;
}

.btn-burger {
  width: 30px;
  height: 25px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 30px;
  fill: #EF402F;
}