.home {
  overflow-x: hidden;
}
.home .btn {
  margin: 55px 0 0;
}

.home-slider .h1 {
  margin: 0 0 48px;
  max-width: 650px;
}
.home-slider-item__img {
  display: none;
  width: 100%;
  height: 350px;
  margin: 24px 0 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home-slider-item__img img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-gallery {
  position: relative;
}
.home-gallery .list-social {
  position: absolute;
  right: 35px;
  top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-gallery .list-social li {
  margin: 0 0 48px;
}

.home-gallery-slider {
  width: calc(100% + 100px);
}
.home-gallery-slider__nav {
  position: absolute;
  left: 0;
  bottom: 80px;
  background: #fff;
  border-radius: 0px 5px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 42px 40px 0;
}
.home-gallery-slider__nav .btn {
  margin: 0 36px 0 0;
}
.home-gallery-slider__nav .slick-arrow {
  position: relative;
  border-radius: 0;
  width: 67px;
  height: 16px;
  stroke: none;
  fill: #EF402F;
  background: transparent;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: none;
          transform: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home-gallery-slider__nav .slick-prev {
  display: none !important;
}
.home-gallery-slider__nav .slick-dots {
  margin: 0 0 0 43px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  bottom: 0;
}
.home-gallery-slider__nav .slick-dots li {
  margin: 0 27px 0 0;
  width: 10px;
  height: 10px;
  border: 1px solid #EF402F;
}
.home-gallery-slider__nav .slick-dots li:last-child {
  margin: 0;
}
.home-gallery-slider__nav .slick-dots li.slick-active {
  background: #EF402F;
  width: 16px;
  height: 16px;
}
.home-gallery-slider__item {
  width: 100%;
  border-radius: 10px;
  position: relative;
  width: 382px;
  height: 338px;
}
.home-gallery-slider__item img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
}
.home-gallery-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.home-gallery-slider .slick-slide {
  margin: 0 25px 0 0;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0 80px;
}
.home-gallery-slider .slick-current .home-gallery-slider__item {
  height: 712px;
  width: 794px;
  margin: 0;
}
.home-gallery-slider .slick-current .home-gallery-slider__item img {
  opacity: 1;
}
.home-gallery-slider .slick-current .banner-sales {
  bottom: 0;
  padding: 20px 20px 120px;
}
.home-gallery-slider .slick-current .banner-sales__close {
  left: auto;
  right: 10px;
  top: 10px;
}
.home-gallery-slider .slick-current .banner-sales .box-text {
  max-width: none;
}
.home-gallery-slider .slick-current .banner-sales .btn {
  margin: 20px 0 0;
}

.banner-sales {
  position: absolute;
  z-index: 3;
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(17.5px);
          backdrop-filter: blur(17.5px);
  border-radius: 10px;
  padding: 20px 20px 18px;
  color: #fff;
  left: 0;
  bottom: -80px;
  width: 100%;
}
.banner-sales .box-text {
  color: #fff;
  max-width: 202px;
  font-size: 16px;
}
.banner-sales__close {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #EF402F;
  top: -8px;
  left: -11px;
  position: absolute;
  padding: 9px;
  fill: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-news {
  overflow: hidden;
  margin: 150px 0 130px;
}
.section-news .title-wrapper {
  margin: 0 0 48px;
}
.section-news h2 {
  margin: 0 35px 0 0;
}

.news-slider {
  position: relative;
}
.news-slider::before {
  content: "";
  position: absolute;
  width: 367px;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#FFFFFF), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  right: 0;
  top: 0;
  z-index: 1;
}
.news-slider .slick-slide {
  margin: 0 30px 0 0;
}
.news-slider .news-card__title {
  font-size: 16px;
}
.news-slider .date {
  font-size: 24px;
}

.btn-all-post {
  margin: 0 0 0 auto;
}

.best-condition {
  position: relative;
  z-index: 1;
  width: 100%;
  border-radius: 10px;
  color: #fff;
  padding: 50px 67px;
}
.best-condition__content {
  max-width: 566px;
  margin: 0 0 34px;
}
.best-condition .box-text {
  font-size: 16px;
  color: #fff;
  margin: 15px 0 0;
  max-width: 415px;
}
.best-condition::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1000px;
  background: #EF402F;
  border-radius: 10px;
  z-index: -1;
}
.best-condition__form label {
  margin: 0 0 34px;
  width: calc(33.33% - 8px);
}
.best-condition__form button {
  margin: 0;
  padding: 20px;
}
.best-condition__form .consent {
  margin: 15px 0 0;
  text-align: left;
  color: #fff;
  max-width: 260px;
  font-size: 10px;
}
.best-condition__form input {
  background: #fff;
  border: none;
  text-align: left;
  font-size: 14px;
}
.best-condition__form input::-webkit-input-placeholder {
  color: #9E9E9E;
}
.best-condition__form input::-moz-placeholder {
  color: #9E9E9E;
}
.best-condition__form input:-ms-input-placeholder {
  color: #9E9E9E;
}
.best-condition__form input::-ms-input-placeholder {
  color: #9E9E9E;
}
.best-condition__form input::placeholder {
  color: #9E9E9E;
}

.form-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.choose-home h2 {
  margin: 0 0 40px;
}

.choose-home-form {
  font-size: 14px;
}
.choose-home-form .list-room {
  font-size: 14px;
  margin: 0;
}
.choose-home-form .radio-room {
  font-size: 14px;
  padding: 15px 20px;
}
.choose-home-form .radio-room input {
  border: 1px solid #9E9E9E;
  background: transparent;
  border-radius: 10px;
}
.choose-home-form select {
  font-size: 14px;
}
.choose-home-form [type=submit] {
  padding: 20px 94px;
  margin: 10px 0 0;
}

.new-posts {
  margin: 0 0 150px;
}

.post-card {
  width: 407px;
  height: 100%;
  margin: 0 30px 0 0;
}
.post-card .date {
  margin: 0 0 19px;
}
.post-card__img {
  width: 100%;
  height: 407px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
}
.post-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.post-card__body {
  width: 100%;
  padding: 19px 0 0;
}
.post-card__title {
  color: #000000;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 0 19px;
}
.post-card__title:hover {
  color: #EF402F;
}
.post-card__footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-card-info {
  background: #EEEEEE;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 11px;
  margin: 0 11px 0 0;
  color: #9E9E9E;
}
.post-card-info:hover {
  color: #EF402F;
}
.post-card-info:last-child {
  margin: 0;
}
.post-card-info__icon {
  fill: none;
  stroke: #9E9E9E;
  width: 18px;
  height: 17px;
  min-width: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 7px 0 0;
}

.view-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9E9E9E;
  margin: 0 0 0 auto;
}
.view-box__icon {
  fill: #9E9E9E;
  margin: 0 7px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 17px;
}

.gallery-projects {
  overflow-x: hidden;
  margin: 0 0 40px;
}

.grid-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 22% 25%;
  grid-template-rows: auto auto 400px;
  grid-gap: 30px;
}
.grid-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.item-a {
  grid-row: 1/3;
}

.item-b {
  grid-column: 3/5;
}

.item-c {
  grid-row: 2/4;
}

.item-d {
  grid-column: 3/5;
}

.item-e {
  grid-row: 1/3;
}

.title-section {
  padding: 70px 0 83px;
}
.title-section h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.title-section h1 .svg-icon {
  width: 31px;
  min-width: 31px;
  height: 31px;
  margin: 10px 23px 0 0;
  fill: #EF402F;
}
.title-section .box-text {
  font-size: 20px;
  line-height: 21px;
  border-left: 1px solid #9E9E9E;
  padding: 0 0 30px 130px;
}

.payment-options h2 {
  margin: 0 0 30px;
}

.payment-options-line {
  width: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  margin: 0 0 20px;
  background: #FAFAFA;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 32px 35px;
}
.payment-options-line:last-child {
  margin: 0;
}
.payment-options-line__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  fill: none;
  stroke: #000;
  border: 1px solid #000000;
  width: 74px;
  height: 74px;
  min-width: 74px;
  padding: 15px;
  margin: 0 37px 0 0;
}
.payment-options-line__title {
  padding: 0 30px 0 0;
  margin: 0 30px 0 0;
  border-right: 1px solid #000000;
}
.payment-options-line .h1 {
  margin: 0;
  color: #EF402F;
}
.payment-options-line__description {
  max-width: 486px;
}
.payment-options-line:hover {
  -webkit-box-shadow: 0px 35px 55px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 35px 55px rgba(0, 0, 0, 0.15);
  background: #fff;
}

.projects {
  margin: 48px 0 100px;
}
.projects .sorting-box select {
  min-width: 250px;
}

.projects-card {
  position: relative;
  z-index: 1;
  border-radius: 10px;
  width: 100%;
  height: 554px;
}
.projects-card .list-labels {
  position: absolute;
  width: 100%;
  padding: 24px 17px;
  left: 0;
  top: 0;
}
.projects-card .list-labels li {
  margin: 0 10px 10px 0;
}
.projects-card .list-labels .btn {
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
}
.projects-card__img {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.projects-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.projects-card__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 27px 30px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.projects-card__body .btn {
  padding: 18px 20px;
}
.projects-card__title {
  color: #fff;
  font-size: 40px;
  padding: 20px 34px 27px 22px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  border-radius: 0px 10px 10px 0px;
  font-size: 40px;
}
.projects-card__title span {
  display: block;
  font-size: 20px;
  margin: 10px 0 0;
}
.projects-card__title:hover {
  color: #EF402F;
}

.page-information h3 {
  margin: 0 0 30px;
}

.document-box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border: 1px solid #9E9E9E;
  border-radius: 10px;
  background: #fff;
  color: #000000;
}
.document-box:hover {
  color: #000;
}
.document-box__body {
  width: calc(100% - 145px);
  padding: 30px 50px 47px;
}
.document-box__title {
  max-width: 200px;
  font-size: 24px;
}
.document-box__name {
  color: #EF402F;
  margin: 50px 0 0;
}
.document-box__size {
  width: 145px;
  color: #fff;
  background: #EF402F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-radius: 10px;
  padding: 32px 20px 24px;
}
.document-box__size img {
  margin: 0 auto 20px;
}
.document-box__size img:last-child {
  margin: 0 auto 14px;
}
.document-box span {
  display: block;
}

.btn-toggle {
  margin: 16px auto 0;
}

.news-card {
  width: 100%;
  height: 100%;
}
.news-card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 262px;
  position: relative;
  border-radius: 10px;
}
.news-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.news-card__body {
  width: 100%;
  height: calc(100% - 262px);
  padding: 15px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.news-card .date {
  margin: 0 0 15px;
}
.news-card__title {
  font-size: 24px;
  color: #000;
  margin: 0 0 auto;
}
.news-card__title:hover {
  color: #EF402F;
}
.news-card .btn {
  margin: 25px 0 0;
}

.page-article h1 {
  text-transform: none;
}

.article-date {
  color: #EF402F;
  font-size: 24px;
  margin: 0 0 12px;
}

.article-text {
  font-size: 20px;
}
.article-text p {
  margin: 0 0 30px;
}
.article-text p:last-child {
  margin: 0;
}

.article-image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
}
.article-image img {
  width: 100%;
  border-radius: 10px;
}

.article-video {
  position: relative;
  z-index: 1;
  width: 100%;
  border-radius: 10px;
  margin: 94px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.article-video:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8)));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  border-radius: 10px;
  z-index: 1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.article-video:hover::before {
  opacity: 0;
}
.article-video:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 98px;
  height: 98px;
  background: url("../img/play.svg") no-repeat center;
  background-size: 100%;
  z-index: 1;
}
.article-video img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.article-section {
  margin: 74px 0 60px;
  overflow-x: hidden;
}
.article-section h2 {
  text-transform: none;
  font-size: 48px;
}

.article-gallery {
  position: relative;
  width: calc(100% + 100px);
}
.article-gallery::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 683px;
  background: -webkit-gradient(linear, right top, left top, from(#FFFFFF), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}
.article-gallery__item {
  margin: 0 30px 0 0;
  width: 553px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.article-gallery__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.article-gallery .slick-next {
  right: 100px;
}

.map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.map iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.contacts-box {
  width: 100%;
  margin: 0 0 30px;
  border: 1px solid #9E9E9E;
  border-radius: 10px;
  background: #fff;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.contacts-box:last-child {
  margin: 0;
}
.contacts-box__left {
  width: calc(100% - 220px);
  padding: 0 22px 0 0;
}
.contacts-box__right {
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contacts-box__right .btn {
  margin: auto 0 0;
  width: 100%;
  padding: 10px;
}
.contacts-box__phone {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 5px;
  color: #000;
}
.contacts-box__phone:hover {
  color: #EF402F;
}
.contacts-box h3 {
  color: #707070;
  margin: 0 0 22px;
  font-weight: normal;
}
.contacts-box__address {
  font-size: 20px;
}
.contacts-box .schedule {
  margin: 0 0 20px;
}

.btn-clear {
  margin: 0 0 0 auto;
}
.btn-clear .svg-icon {
  width: 16px;
  min-width: 16px;
  height: 17px;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.comparison-column {
  max-width: 262px;
  min-width: 262px;
  margin: 0 30px 20px 0;
  position: relative;
}
.comparison-column__delete {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 28px;
  height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #EF402F;
}
.comparison-column__photo {
  width: 100%;
  height: 364px;
  background: #fff;
  border: 1px solid #9E9E9E;
  border-radius: 10px;
  padding: 85px 25px 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.comparison-column__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 185px;
  margin: 0 auto auto;
  height: 122px;
}
.comparison-column__img img {
  width: 100%;
  max-height: 100%;
}
.comparison-column__body {
  margin: 30px 0 0;
}
.comparison-column__name {
  margin: 0 0 19px;
  font-size: 20px;
}
.comparison-column__name sup {
  font-size: 14px;
}
.comparison-column .btn {
  padding: 10px 20px;
}
.comparison-column__content {
  margin: 53px 0 0;
  width: 100%;
}
.comparison-column__characteristics {
  width: 100%;
}
.comparison-column__characteristics li {
  padding: 0 0 20px;
  margin: 0 0 20px;
  border-bottom: 1px solid #B0B0B0;
}
.comparison-column__characteristics li:last-child {
  padding: 0;
  margin: 0;
  border: none;
}
.comparison-column__characteristics p {
  margin: 0 0 6px;
}
.comparison-column__characteristics span {
  display: block;
  font-size: 20px;
  font-weight: bold;
}
.comparison-column__characteristics span sup {
  font-size: 14px;
}

.callback {
  margin: 170px 0 0;
}

.callback-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #F2F2F2;
  border-radius: 10px;
  padding: 86px 85px 102px 112px;
  z-index: 1;
}
.callback-wrapper__image {
  position: absolute;
  right: 75px;
  bottom: 0;
  max-width: 510px;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.callback-wrapper h2 {
  max-width: 525px;
  margin: 0 28px 0 0;
  font-size: 48px;
}

.page-purchase {
  margin: 0 0 40px;
}
.page-purchase h1 {
  margin: 0 0 38px;
}

.variable-purchase {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 50px;
}
.variable-purchase li {
  margin: 0 20px 20px 0;
}
.variable-purchase li:last-child {
  margin: 0 0 20px;
}
.variable-purchase-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EF402F;
  border-radius: 10px;
  text-transform: uppercase;
  color: #000;
  padding: 20px 40px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.variable-purchase-item:hover {
  color: #000;
}
.variable-purchase-item.active:hover {
  color: #fff;
}
.variable-purchase-item__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #000;
  border-radius: 50%;
  margin: 0 10px 0 0;
  min-width: 48px;
  max-width: 48px;
  height: 48px;
  padding: 11px;
  fill: none;
  stroke: #000;
}

.purchase-image, .benefit-image {
  width: 100%;
  border-radius: 10px;
}
.purchase-image img, .benefit-image img {
  border-radius: 10px;
  width: 100%;
}

.benefit-image {
  margin: 0 0 65px;
}

.advantages-variable {
  margin: 70px 0 0;
}
.advantages-variable .btn {
  margin: auto;
}

.advantages-variable-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 32px 40px 40px 30px;
  border: 1px solid #9E9E9E;
  border-radius: 10px;
  background: #fff;
  font-size: 20px;
}
.advantages-variable-box__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 35px 0 0;
  width: 48px;
  height: 48px;
  min-width: 48px;
  border: 1px solid #EF402F;
  border-radius: 50%;
  padding: 12px;
  stroke: #EF402F;
  fill: none;
}
.advantages-variable-box-last {
  border: none;
}

.stages-registration h2 {
  margin: 0 0 40px;
  font-size: 48px;
}

.stages-registration-box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border: 1px solid #9E9E9E;
  border-radius: 10px;
  background: #fff;
  font-size: 20px;
}
.stages-registration-box__number {
  background: #EF402F;
  color: #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 116px;
  font-size: 48px;
}
.stages-registration-box__text {
  width: calc(100% - 116px);
  padding: 30px 60px 38px 35px;
}

.benefit {
  margin: 100px 0;
}
.benefit .h1 {
  margin: 0 0 36px;
}

.benefit-box .input-title {
  margin: 0 0 20px;
  width: 100%;
  font-size: 24px;
  color: #707070;
}
.benefit-box .input-title sup {
  font-size: 10px;
}
.benefit-box input {
  margin: 0 0 20px;
}
.benefit-box__value {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 0;
  color: #707070;
}

.benefit-total-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 73px 24px 0;
  padding: 40px 30px;
  background: #FAFAFA;
  border-radius: 10px;
  font-size: 20px;
}
.benefit-total-box__left {
  width: 340px;
  border-right: 1px solid #000000;
  padding: 0 20px 0 0;
}
.benefit-total-box__right {
  width: calc(100% - 340px);
  padding: 0 0 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.benefit-total-box__right .economy-item {
  margin: 14px 0 0;
  font-weight: bold;
  font-size: 24px;
}
.benefit-total-box__right .btn {
  margin: 0 0 0 auto;
}
.benefit-total-box__list li {
  margin: 0 0 20px;
}
.benefit-total-box__list li:last-child {
  margin: 0;
}
.benefit-total-box__list span {
  color: #707070;
  font-size: 20px;
}
.benefit-total-box__list p {
  font-size: 48px;
}
.benefit-total-box__value {
  margin: auto 0;
}
.benefit-total-box .h1 {
  margin: 0;
}
.benefit-total-box h3 {
  margin: 0 0 30px;
  color: #EF402F;
  font-size: 24px;
}
.benefit-total-box:last-child {
  margin: 0;
}

.economy-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0 0;
  font-size: 16px;
}
.economy-item span {
  color: #21A355;
  font-size: 16px;
}
.economy-item .svg-icon {
  margin: 0 0 0 10px;
  fill: #21A355;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  min-width: 16px;
  height: 7px;
}

.page-commercial {
  margin: 0 0 87px;
}
.page-commercial h1 {
  margin: 24px 0 43px;
}

.investment h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 0 0;
}

.form-investment {
  margin: 50px 0 0;
  width: 100%;
}

.input-title {
  color: #393839;
  width: 100%;
  display: block;
  margin: 0 0 15px;
}

.investment-box .input-title {
  font-size: 16px;
}
.investment-box .benefit-box__value {
  margin: 10px 0 0;
  font-size: 14px;
}
.investment-box .slider-range {
  height: 2px;
  border-radius: 0;
  background: #7E7E7E;
}
.investment-box .slider-range::before {
  content: "";
  position: absolute;
  left: 0;
  top: -5px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #EF402F;
}
.investment-box .ui-slider-range {
  border-radius: 0;
  background: #EF402F;
}
.investment-box .ui-slider-handle {
  top: -5px;
  width: 13px;
  height: 13px;
}

.select-room {
  margin: 113px 0 70px;
  padding: 72px 0 94px;
}
.select-room__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 762px;
  width: 100%;
}
.select-room__image img {
  width: 100%;
}
.select-room .h2 {
  margin: 0 0 70px;
}
.select-room__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.select-room__footer .box-text {
  max-width: 322px;
  margin: 0 40px 0 0;
}

.why-investment {
  overflow-x: hidden;
  margin: 70px 0 110px;
}
.why-investment__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 1356px;
  margin: 130px -176px 0 0;
  float: right;
  z-index: -1;
  position: relative;
}
.why-investment .h2 {
  margin: 30px 0 50px;
}
.why-investment .stages-registration-box {
  margin: 0 0 30px;
  max-width: 845px;
  height: auto;
}
.why-investment .stages-registration-box:last-child {
  margin: 0;
}

.objects h2 {
  margin: 0 0 50px;
}

.nav-tabs {
  width: 100%;
  border: none;
  border-radius: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.nav-tabs .nav-tabs-objects {
  margin: 0 30px 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #9E9E9E;
  border-radius: 10px;
  width: 407px;
  color: #707070;
  font-size: 20px;
  background: #fff;
  padding: 0;
  text-align: left;
}
.nav-tabs .nav-tabs-objects__text {
  width: calc(100% - 166px);
  padding: 0 0 0 40px;
}
.nav-tabs .nav-tabs-objects__image {
  width: 166px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
}
.nav-tabs .nav-tabs-objects__image img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.nav-tabs .nav-tabs-objects:last-child {
  margin: 0 0 20px;
}
.nav-tabs .nav-tabs-objects.active {
  border-color: transparent;
  -webkit-box-shadow: 0px 35px 55px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 35px 55px rgba(0, 0, 0, 0.15);
  color: #000;
}

.tab-content {
  margin: 65px 0 0 0;
}

.objects-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  max-width: none;
  width: 100%;
}
.objects-photo img {
  width: 100%;
  border-radius: 10px;
}

.objects-content .box-text {
  margin: 0 0 32px;
  font-size: 20px;
}

.object-advantages {
  padding: 0 0 0 35px;
  max-width: 480px;
}

.object-advantages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 40px;
  font-size: 20px;
}
.object-advantages-item__icon {
  border: 1px solid #EF402F;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 34px 0 0;
  width: 48px;
  height: 48px;
  min-width: 48px;
}
.object-advantages-item:last-child {
  margin: 0;
}
.object-advantages-item h3 {
  font-size: 24px;
  margin: 0 0 9px;
}
.object-advantages-item .btn {
  margin: 12px 0 0;
}
.object-advantages-item .text {
  max-width: 325px;
}

.page-family-banner {
  position: relative;
  width: 100%;
  z-index: 1;
  min-height: 415px;
  margin: 0 0 57px;
}
.page-family-banner__bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}
.page-family-banner .btn {
  margin: 64px 0 0 auto;
}

.about-family-section .h1 {
  margin: 0;
}
.about-family-section .tab-content {
  margin: 77px 0 0;
}
.about-family-section .nav-tabs {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: none;
  border-radius: 0;
}

.about-advantages {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 50px;
}

.about-advantages-box, .logo-company {
  margin: 0 0 25px;
}

.about-advantages-box {
  text-align: center;
}
.about-advantages-box p {
  font-size: 48px;
  color: #EF402F;
}
.about-advantages-box p sup {
  font-size: 30px;
}
.about-advantages-box span {
  color: #707070;
  margin: 17px auto 0;
  font-size: 20px;
}

.about-family-slider {
  margin: 80px 0 94px;
}
.about-family-slider__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about-family-slider__item img {
  width: 100%;
  border-radius: 10px;
}

.family-advantages-box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  border: 1px solid #9E9E9E;
  font-size: 20px;
}
.family-advantages-box__img {
  width: 166px;
  height: 166px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.family-advantages-box__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.family-advantages-box__text {
  width: calc(100% - 166px);
  padding: 0 15px 0 40px;
}

.products .nav-tabs-my {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-tabs-my .nav-item {
  margin: 0 20px 0 0;
}
.nav-tabs-my .nav-link {
  padding: 20px;
  color: #1D1D20;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #EF402F;
  border-radius: 10px;
}
.nav-tabs-my .nav-link.active {
  background: #EF402F;
  color: #fff;
}

.product-card {
  width: 100%;
  height: 100%;
  padding: 25px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #9E9E9E;
  border-radius: 10px;
  background: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.product-card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px 0 0;
}
.product-card__footer .btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.product-card__head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 0 0;
}
.product-card__image {
  margin: 80px auto 35px;
  padding: 0 0 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product-card__image .slick-dots {
  bottom: 0;
  opacity: 0;
}
.product-card__image .slick-dots li {
  border-radius: 10px;
  width: 71px;
  height: 3px;
  border: none;
  background: #9E9E9E;
}
.product-card__image .slick-dots li.slick-active {
  background: #EF402F;
}
.product-card__image-item {
  margin: 0 auto;
}
.product-card__name {
  margin: 0 auto 0 0;
  color: #000000;
}
.product-card__name:hover {
  color: #EF402F;
}
.product-card__name span {
  padding: 3px 10px 3px 0;
}
.product-card__name span:last-child {
  padding: 3px 0 3px 10px;
  border-left: 1px solid #000;
}
.product-card__price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 44px 0 0;
}
.product-card:hover {
  -webkit-filter: drop-shadow(0px 35px 55px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 35px 55px rgba(0, 0, 0, 0.15));
  border-color: transparent;
}
.product-card:hover .slick-dots {
  opacity: 1;
}

.benefit-box-option.bg-light-green {
  color: #16703A;
}
.benefit-box-option.bg-grey {
  color: #707070;
}

.price-all {
  margin: 0 auto 0 0;
}
.price-all .price {
  margin: 0 0 3px;
  font-size: 24px;
  font-weight: bold;
}

.benefit-box.bg-light-green {
  color: #16703A;
}

.list-characteristics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 20px;
}
.list-characteristics p {
  margin: 0 0 20px;
}
.list-characteristics p:last-child {
  margin: 0;
}
.list-characteristics li {
  width: 50%;
  border-right: 1px solid #000;
}
.list-characteristics li:nth-child(even) {
  text-align: right;
  border: none;
}
.list-characteristics sup {
  font-size: 12px;
}

.btn-all-products {
  margin: 10px auto 0;
}

.documents {
  margin: 85px 0 80px;
}
.documents h2 {
  text-transform: none;
  margin: 0 0 65px;
}

.document-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border: 1px solid #9E9E9E;
  border-radius: 10px;
  padding: 30px 45px;
  font-size: 24px;
  color: #000;
}
.document-box:hover {
  color: #EF402F;
}
.document-box__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 38px;
  min-width: 30px;
  margin: 0 33px 0 0;
  stroke: #000;
  fill: none;
}
.document-box .svg-icon-arrow {
  fill: #EF402F;
  width: 26px;
  height: 16px;
  min-width: 26px;
  margin: 0 0 0 auto;
}

.page-product {
  margin: 0 0 106px;
}
.page-product h1 {
  margin: 0;
}
.page-product .btn-group {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}
.page-product .btn-group .btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.product-line-subtitle {
  margin: 30px 0 45px;
}
.product-line-subtitle .product-card__name {
  font-size: 24px;
  color: #EF402F;
}
.product-line-subtitle .product-card__name span {
  border-color: #EF402F;
}

.product-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.product-tools__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 20px 0 0;
  fill: #9E9E9E;
  width: 25px;
  height: 20px;
}
.product-tools__link:hover {
  fill: #EF402F;
}
.product-tools__link:last-child {
  margin: 0;
}

.products-similar {
  margin: 100px 0;
}
.products-similar h2 {
  margin: 0 0 50px;
}

.product-information-gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 90px 0 0;
}
.product-information-gallery__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}
.product-information-gallery__image img {
  width: 100%;
}

.product-information-details {
  width: 100%;
  border: 1px solid #9E9E9E;
  border-radius: 10px;
  padding: 34px 60px 56px;
}
.product-information-details__body {
  margin: 32px 0 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 20px;
}
.product-information-details__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.product-information-details__footer .btn-group {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 210px;
  width: 100%;
}
.product-information-details__footer .btn-group .btn {
  width: 100%;
  margin: 0 0 24px;
}
.product-information-details__footer .btn-group .btn:last-child {
  margin: 0;
}

.list-labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.list-labels li {
  margin: 0 20px 20px 0;
}
.list-labels li:last-child {
  margin: 0;
}

.list-charasteristics sup {
  font-size: 16px;
}
.list-charasteristics li {
  margin: 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.list-charasteristics li:last-child {
  margin: 0;
}
.list-charasteristics li p {
  min-width: 153px;
  max-width: 153px;
}

.cost-from-box {
  margin: 0 0 0 47px;
  padding: 0 0 0 47px;
  border-left: 1px solid #000;
}
.cost-from-box span {
  color: #707070;
  font-size: 16px;
}

.cost-from {
  margin: 12px 0 1px;
}

.list-option {
  margin: 0 0 0 33px;
  font-size: 16px;
}
.list-option li {
  margin: 0 0 20px;
}
.list-option li:last-child {
  margin: 0;
}
.list-option-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}
.list-option-link:hover {
  color: #EF402F;
}
.list-option-link__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  min-width: 32px;
  border-radius: 50%;
  border: 1px solid #000000;
  padding: 8px;
  fill: none;
  stroke: #000;
  margin: 0 19px 0 0;
}
.list-option-link__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 26px;
  height: 16px;
  margin: 0 0 0 19px;
  fill: #707070;
}

.page-select-property {
  margin: 0 0 40px;
}
.page-select-property h1 {
  margin: 0 0 40px;
}

.btn-option {
  margin: 0 auto;
  border-radius: 10px 10px 0px 0px;
  padding: 20px 48px;
}

.select-property-wrapper {
  padding: 30px 0 0;
  -webkit-box-shadow: inset 0px 35px 55px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0px 35px 55px rgba(0, 0, 0, 0.05);
  font-size: 16px;
}
.select-property-wrapper .btn {
  width: 100%;
  margin: 0 auto;
}
.select-property-wrapper .btn-option {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.select-property-wrapper select {
  font-size: 20px;
}
.select-property-wrapper__close {
  fill: #EF402F;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
}

.btn-group-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px 0 0;
}
.btn-group-navigation .btn {
  margin: 0;
  max-width: 255px;
  width: 100%;
}

.viewed {
  margin: 0 47px 0 0;
  font-size: 20px;
  color: #707070;
}
.viewed span {
  display: block;
  color: #000;
}

.sorting-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 40px;
}
.sorting-box select {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.sorting-box p {
  color: #393839;
  margin: 0 15px 0 0;
}

.search-value {
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 30px;
}

.room-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.room-box p {
  color: #393839;
}

.list-room {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 0 22px;
}
.list-room li {
  margin: 0 15px 0 0;
}
.list-room li:last-child {
  margin: 0;
}

.radio-room {
  padding: 20px 23px;
  font-size: 20px;
}
.radio-room input {
  background: #F9F9F9;
  border-radius: 10px;
  border: none;
  z-index: 1;
  cursor: pointer;
}
.radio-room input:checked {
  -webkit-box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.15);
  background: #E4E4E4;
}
.radio-room input:checked + .radio-text {
  color: #000000;
}
.radio-room .radio-text {
  position: relative;
  z-index: 1;
  display: block;
}

.options-line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 57px;
}

.options-line-box {
  padding: 0 48px 0 0;
  margin: 0 48px 0 0;
  border-right: 1px solid #707070;
}
.options-line-box:last-child {
  border: none;
  padding: 0;
  margin: 0;
}
.options-line-box .list-radio li {
  margin: 0 30px 0 0;
}
.options-line-box .list-radio li:last-child {
  margin: 0;
}
.options-line-box .round-btn {
  background: #EEEEEE;
}
.options-line-box .round-btn::before {
  background: #EF402F;
}

.radio-my {
  padding: 0;
  font-size: 20px;
  font-weight: normal;
}
.radio-my input {
  display: none;
}
.radio-my input:checked::before {
  background: #EF402F;
}
.radio-my .radio-custom {
  border-radius: 50%;
  border: 1px solid #9E9E9E;
  width: 20px;
  height: 20px;
  min-width: 20px;
  margin: 0 10px 0 0;
  position: relative;
}
.radio-my .radio-custom::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn-filter {
  width: 100%;
  height: 54px;
  padding: 10px;
}
.btn-filter .svg-icon {
  width: 16px;
  height: 18px;
  min-width: 16px;
}

.select-building {
  margin: 100px 0 50px;
}

.page-about {
  margin: 0 0 90px;
}
.page-about .h2 {
  max-width: 440px;
  margin: 0 0 28px;
}
.page-about .box-text {
  font-size: 20px;
  color: #000;
}

.about-image, .team-image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about-image img, .team-image img {
  width: 100%;
  border-radius: 10px;
}

.btn-vacansies {
  padding: 20px 48px;
  margin-left: auto;
}

.team h2 {
  margin: 0 0 40px;
}

.company-founder {
  margin: 210px 0 260px;
}
.company-founder__photo {
  margin: -107px 0 -90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.company-founder__photo img {
  border-radius: 10px;
  width: 100%;
}
.company-founder__title p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: bold;
  margin: 46px 0 0;
  font-size: 24px;
}
.company-founder__title p a {
  margin: 0 0 5px 10px;
}
.company-founder__description {
  font-size: 20px;
}
.company-founder__description .text {
  max-width: 504px;
  margin: 0 0 0 auto;
}

.help-social {
  margin: 134px 0;
  position: relative;
  overflow-x: hidden;
}
.help-social h2 {
  margin: 0 0 60px;
}

.help-social-card {
  margin: 0 30px 0 0;
  width: 408px;
}
.help-social-card__img {
  width: 100%;
  height: 262px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.help-social-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.help-social-card__body {
  padding: 15px 0 0;
}
.help-social-card__title {
  color: #000;
  font-size: 24px;
  margin: 15px 0 0;
}
.help-social-card__title:hover {
  color: #EF402F;
}
.help-social-card .btn {
  margin: 25px 0 0;
}

.diplomas {
  margin: 0 0 134px;
}
.diplomas h2 {
  margin: 0 0 60px;
}

.diplomas-slider {
  padding: 0 68px 0 0;
}
.diplomas-slider .slick-prev {
  display: none !important;
}
.diplomas-slider .slide {
  margin: 0 50px 0 0;
}

.diplomas-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.diplomas-item img {
  width: 100%;
}

.vacansies {
  padding: 60px 0;
}

.vacansies-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 28px 0 74px;
}
.vacansies-wrapper .text {
  font-size: 20px;
  max-width: 1163px;
}
.vacansies-wrapper .btn {
  margin: 0 auto;
  padding: 20px 48px;
}

.vacansies-advantages {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.vacansies-advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  margin: 0 0 50px;
}
.vacansies-advantages__item-icon {
  border: 1px solid #EF402F;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 74px;
  height: 74px;
  min-width: 74px;
  padding: 17px;
  fill: none;
  stroke: #EF402F;
}
.vacansies-advantages__item-text {
  padding: 13px 0;
  margin: 0 0 0 43px;
  max-width: 185px;
  width: 100%;
}

.history {
  position: relative;
  overflow-x: hidden;
}
.history h2 {
  margin: 0 0 90px;
}

.history-slider {
  width: calc(100% + 150px);
  position: relative;
}
.history-slider::after {
  content: "";
  position: absolute;
  left: 0;
  top: 16px;
  width: 100%;
  height: 1px;
  background: #000;
  z-index: -1;
}
.history-slider .slick-slide {
  margin: 0 120px 0 0;
}
.history-slider .slick-current .history-card::before {
  background: #EF402F;
}
.history-slider .slick-current .history-card .date {
  color: #000;
}

.history-card {
  position: relative;
  z-index: 1;
  padding: 86px 0 0 0;
  width: 300px;
  font-size: 20px;
}
.history-card__body {
  color: #707070;
}
.history-card .date {
  margin: 24px 0;
  font-size: 96px;
  text-transform: uppercase;
  color: #9E9E9E;
}
.history-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #EF402F;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background: #fff;
}
.history-card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 151px;
}