/*==========	Desktop First	==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1650px) {
  header .btn-group {
    margin: 0 20px 0 0;
  }
  .schedule {
    margin: 0 20px 0 0;
  }
  .menu li {
    margin: 0 10px 0 0;
  }
  footer .phone {
    font-size: 82px;
  }
  .call-box {
    padding: 0 0 0 50px;
  }
  .benefit-total-box {
    margin: 0 auto 24px 0;
  }
  .benefit-total-box:last-child {
    margin: 0;
  }
  .benefit-total-box .h1 {
    font-size: 80px;
  }
  .benefit-total-box__right {
    padding: 0 0 0 30px;
  }
  .investment h2 {
    width: 100%;
    margin: 0 0 25px;
  }
  .select-room .h1 {
    font-size: 80px;
  }
}
@media only screen and (max-width: 1500px) {
  .menu {
    font-size: 14px;
  }
  .phone {
    font-size: 16px;
  }
  footer .phone {
    font-size: 68px;
  }
  .h1 {
    font-size: 86px;
  }
  .about-advantages-box p {
    font-size: 40px;
  }
}
@media only screen and (max-width: 1400px) {
  .projects-card {
    margin: 0 30px 30px 0;
    max-width: 340px;
  }
  .projects-card__link {
    font-size: 18px;
  }
  .projects-card__title {
    font-size: 16px;
  }
  .projects-card:last-child {
    margin: 0 0 30px;
  }
  .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-menu {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    max-width: 260px;
    background: #fff;
    padding: 40px 34px;
    overflow-y: auto;
  }
  .nav-menu .logo, .nav-menu .user-navigation, .nav-menu .btn-callback, .nav-menu .phone, .nav-menu .list-social, .nav-menu .schedule {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .nav-menu .menu {
    font-size: 16px;
    margin: 60px 0;
  }
  .nav-menu .menu li {
    margin: 0 0 20px;
    width: 100%;
  }
  .nav-menu .menu li:last-child {
    margin: 0;
  }
  header .logo {
    margin: 0 auto 0 0;
  }
  .call-box {
    padding: 0 0 0 20px;
  }
  .call-box .box-text {
    max-width: 400px;
  }
  footer {
    padding: 60px 0 50px;
    font-size: 20px;
  }
  footer h3 {
    margin: 0 0 10px;
  }
  footer .phone {
    font-size: 50px;
  }
  .contacts-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contacts-box__left {
    width: 100%;
  }
  .contacts-box__right {
    margin: 20px 0 0;
  }
  .contacts-box__right .btn {
    margin: 20px 0 0;
  }
  .variable-purchase {
    margin: 0;
  }
  .h1 {
    font-size: 70px;
  }
  .select-room__footer .box-text {
    max-width: none;
    margin: 0 0 10px;
    width: 100%;
  }
  .select-room .h1 {
    font-size: 70px;
  }
  .about-advantages-box p {
    font-size: 36px;
  }
}
@media only screen and (max-width: 1200px) {
  .title-section {
    padding: 50px 0;
  }
  .title-section .box-text {
    padding: 0 0 0 20px;
    font-size: 18px;
    line-height: normal;
  }
  h1, .h2 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  .h1 {
    font-size: 60px;
  }
  .projects h2 {
    margin: 0 0 30px;
  }
  .projects-card__title {
    margin: 0 0 20px;
  }
  .article-gallery {
    width: 100%;
  }
  .article-gallery .slick-next {
    right: 0;
  }
  .article-gallery__item {
    width: 450px;
  }
  .article-date {
    margin: 0 0 30px;
  }
  .variable-purchase-item {
    padding: 10px 20px;
  }
  .page-purchase h1 {
    margin: 0 0 25px;
  }
  .callback-wrapper {
    padding: 30px;
  }
  .callback-wrapper__image {
    max-width: 360px;
  }
  .select-room .h1 {
    font-size: 50px;
  }
  .objects-photo {
    margin: 0 0 27px;
  }
  .object-advantages {
    padding: 0;
    max-width: none;
  }
  .object-advantages .text {
    max-width: none;
  }
  .object-advantages-item__icon {
    margin: 0 20px 0 0;
  }
  .page-family .h1 {
    margin: 0 0 27px;
    text-transform: none;
  }
  .page-family-banner {
    margin: 0 0 28px;
  }
  .page-family-banner .btn {
    margin: 35px 0 0 auto;
  }
  .about-family .nav-tabs {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .about-family .nav-tabs .box-text {
    margin: 0 0 58px;
  }
  .about-advantages {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .about-advantages-box p {
    font-size: 48px;
  }
  .about-family-slider {
    margin: 55px auto;
  }
  .documents {
    margin: 68px 0 0;
  }
  .documents h2 {
    font-size: 36px;
    margin: 0 0 35px;
  }
}
@media only screen and (max-width: 992px) {
  .title-section .box-text {
    padding: 0;
    border: none;
    margin: 30px 0 0;
  }
  h1, .h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 26px;
  }
  header .schedule, header .user-navigation {
    display: none;
  }
  footer {
    padding: 65px 0 30px;
    font-size: 18px;
  }
  footer .phone {
    font-size: 46px;
    margin: 30px 0 20px;
  }
  footer .list-social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    top: 0;
    margin: 0 0 0 26px;
  }
  footer .list-social li {
    margin: 0 18px 0 0;
  }
  footer .btn {
    margin: 0;
  }
  .call-box {
    margin: 37px 0 0;
    padding: 30px 0 0;
    border: none;
    border-top: 1px solid #EF402F;
  }
  .call-box .box-text {
    max-width: none;
  }
  .call-box__footer {
    margin: 30px 0 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .link-developer {
    margin: 27px auto 0;
  }
  .map {
    height: 422px;
    margin: 42px 0 0;
  }
  .contacts-box__address br {
    display: none;
  }
  .btn-clear {
    margin: 20px 0 0;
  }
  .link-toggle {
    margin: 40px auto 0;
  }
  .benefit .mb-35 {
    margin-bottom: 30px;
  }
  .benefit .h1 {
    margin: 0 0 22px;
  }
  .benefit-total-box .h1 {
    font-size: 60px;
    margin: 0;
  }
  .callback {
    margin: 46px 0 0;
  }
  .callback-wrapper {
    padding: 28px 25px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .callback-wrapper h2 {
    max-width: none;
    margin: 0 0 26px;
    font-size: 40px;
  }
  .callback-wrapper__image {
    position: relative;
    margin: 19px auto 0;
    right: 0;
  }
  .btn-md {
    height: 57px;
    padding: 20px 48px;
  }
  .page-commercial {
    margin: 0 0 49px;
  }
  .page-commercial h1 {
    margin: 15px 0 25px;
  }
  .form-investment {
    margin: 25px 0 0;
  }
  .select-room {
    margin: 47px 0 35px;
    padding: 32px 0 66px;
  }
  .select-room__image {
    max-width: none;
    margin: 0 0 35px;
  }
  .select-room .h1 {
    font-size: 48px;
  }
  .select-room .h2 {
    margin: 0 0 28px;
  }
  .select-room__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .select-room__footer .box-text {
    margin: 0 0 18px;
    max-width: 254px;
    font-size: 16px;
  }
  .why-investment__image {
    min-width: 630px;
    margin: -50px -80px 0 0;
  }
  .why-investment {
    margin: 80px 0 0;
  }
  .why-investment .h2 {
    margin: 20px 0 40px;
  }
  .why-investment .stages-registration-box {
    max-width: none;
  }
}
@media only screen and (max-width: 768px) {
  .btn {
    padding: 20px;
    height: 57px;
    font-size: 14px;
  }
  .btn-sm {
    padding: 7px 15px;
    height: 37px;
  }
  header {
    padding: 22px 0;
  }
  header .btn-group .btn {
    display: none;
  }
  header .btn-group .btn-mortgage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .wrapper {
    padding: 100px 0 0;
  }
  .projects-card {
    margin: 0 auto 30px;
    max-width: 48%;
  }
  .projects-card__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 0 0;
  }
  .projects-card__link {
    margin: 0 auto 10px;
  }
  .projects {
    margin: 50px 0 60px;
  }
  .mb-50, .mb-40 {
    margin-bottom: 30px;
  }
  .nav-breadcrumb {
    margin: 0 0 30px;
  }
  h1, .h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 24px;
  }
  .box-text {
    font-size: 20px;
  }
  .box-text p {
    margin: 0 0 20px;
  }
  .box-text p:last-child {
    margin: 0;
  }
  .benefit-total-box {
    padding: 40px;
  }
  .benefit-total-box__left, .benefit-total-box__right {
    width: 100%;
    padding: 0;
  }
  .benefit-total-box__left .btn, .benefit-total-box__right .btn {
    margin: 20px 0 0;
  }
  .benefit-total-box__left {
    margin: 0 0 30px;
    padding: 0 0 30px;
    border: none;
    border-bottom: 1px solid #000;
  }
  .callback-wrapper h2 {
    font-size: 32px;
  }
  .callback-wrapper .btn-md {
    padding: 20px 48px;
  }
  .benefit-total-box .h1 {
    font-size: 48px;
  }
  .benefit-total-box__list p {
    font-size: 36px;
  }
  .slider-range-input {
    height: 76px;
    font-size: 30px;
  }
  .advantages-variable {
    margin: 34px 0 0;
  }
  .advantages-variable-box {
    padding: 32px 20px;
  }
  .nav-tabs .nav-tabs-objects {
    width: 100%;
    margin: 0 0 28px;
  }
  .nav-tabs .nav-tabs-objects:last-child {
    margin: 0;
  }
  .tab-content {
    margin: 48px 0 0;
  }
  .nav-tabs-my .nav-item {
    margin: 0 20px 20px 0;
  }
  .nav-tabs-my .nav-item:last-child {
    margin: 0;
  }
}
@media only screen and (max-width: 576px) {
  header .btn {
    display: none;
  }
  header .btn-group {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
  }
  .phone {
    margin: 0 30px 0 0;
  }
  .logo {
    max-width: 35px;
  }
  .nav-menu .logo {
    max-width: 122px;
  }
  .btn-burger {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .btn-mortgage {
    max-width: 80px;
    font-size: 14px;
    line-height: 17px;
    padding: 5px 10px;
    height: 44px;
  }
  .h1, h2 {
    font-size: 48px;
  }
  .title-section {
    padding: 30px 0;
  }
  .title-section .box-text {
    font-size: 16px;
  }
  .title-section h1 .svg-icon {
    width: 20px;
    height: 20px;
    min-width: 20px;
    margin: 5px 10px 0 0;
  }
  h1, .h2 {
    font-size: 30px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 24px;
  }
  .projects-card {
    max-width: none;
  }
  footer {
    font-size: 16px;
  }
  .box-text {
    font-size: 16px;
  }
  .document-box__body {
    padding: 30px 27px 40px;
  }
  .document-box__name {
    margin: 40px 0 0;
  }
  .btn-toggle {
    margin: 13px auto 0;
  }
  .news-card .btn {
    margin: 15px 0 0;
  }
  .news-card__img {
    height: 185px;
  }
  .article-text {
    font-size: 16px;
  }
  .article-text p {
    margin: 0 0 20px;
  }
  .article-text p:last-child {
    margin: 0;
  }
  .article-section {
    margin: 32px 0 0;
  }
  .article-section h2 {
    font-size: 36px;
  }
  .article-gallery::before {
    width: 186px;
    background: -webkit-gradient(linear, right top, left top, from(#FFFFFF), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  }
  .article-gallery__item {
    width: 261px;
  }
  .article-video {
    height: 222px;
    margin: 32px 0 0;
  }
  .contacts-box__address {
    font-size: 16px;
  }
  .modal-dialog {
    margin: 30px auto;
  }
  .modal-content {
    padding: 30px;
  }
  .modal-content .btn-close {
    right: -10px;
    top: -10px;
    padding: 10px;
    width: 30px;
    height: 30px;
  }
  .modal-title {
    font-size: 24px;
  }
  .modal-header .box-text {
    font-size: 16px;
  }
  .toggle-btn {
    font-size: 18px;
  }
  .comparison-column__content {
    margin: 30px 0 0;
  }
  .comparison-column__characteristics span {
    font-size: 18px;
  }
  .benefit-total-box {
    width: 100%;
  }
  .advantages-variable-box-last {
    padding: 14px 0 0;
  }
  .stages-registration-box {
    font-size: 16px;
  }
  .stages-registration-box__number {
    width: 79px;
  }
  .stages-registration-box__text {
    width: calc(100% - 79px);
    padding: 20px 23px 18px 34px;
  }
  .stages-registration h2 {
    font-size: 36px;
  }
  .stages-registration .mb-35 {
    margin-bottom: 20px;
  }
  .benefit {
    margin: 40px 0;
  }
  .about-advantages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about-advantages-box {
    text-align: left;
  }
  .about-advantages-box span {
    text-align: center;
  }
  .about-family .h2 {
    font-size: 36px;
  }
  .products .nav-tabs-my {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .document-box {
    padding: 30px 25px;
  }
  .document-box__icon {
    margin: 0 25px 0 0;
  }
}
@media only screen and (max-width: 480px) {
  .h1, h2 {
    font-size: 44px;
  }
}
@media only screen and (max-width: 420px) {
  h1, .h2 {
    font-size: 26px;
  }
  .phone {
    margin: 0 10px 0 0;
  }
  .btn-burger {
    margin: 0 0 0 10px;
  }
  footer .list-social {
    margin: 10px 0 0;
    width: 100%;
  }
  footer h3 {
    font-size: 28px;
  }
  footer .phone {
    font-size: 30px;
  }
  .news-card__title {
    font-size: 20px;
  }
  .btn .svg-icon {
    width: 20px;
    height: 10px;
  }
  .toggle-btn {
    font-size: 14px;
  }
  .h1, h2 {
    font-size: 36px;
  }
  .callback-wrapper .btn {
    padding: 20px;
  }
  .callback-wrapper h2 {
    font-size: 26px;
  }
  .select-room .h1 {
    font-size: 36px;
  }
  .family-advantages-box__img {
    width: 140px;
    height: 140px;
  }
  .family-advantages-box__text {
    padding: 0 0 0 15px;
    width: calc(100% - 140px);
  }
  .product-card__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product-card__footer .btn {
    margin: 0 0 15px;
  }
  .product-card__footer .btn:last-child {
    margin: 0;
  }
  .benefit-box {
    font-size: 10px;
  }
}
@media only screen and (max-width: 370px) {
  .phone {
    font-size: 14px;
  }
  .btn-burger {
    width: 20px;
    height: 22px;
  }
  .btn-mortgage {
    font-size: 12px;
    max-width: 75px;
  }
  .news-card__title {
    font-size: 18px;
  }
  .news-card .btn {
    padding: 20px 10px;
    width: 100%;
  }
  .btn .svg-icon {
    width: 14px;
    height: 8px;
  }
  .btn .svg-icon-plus {
    height: 16px;
  }
  .variable-purchase-item {
    padding: 10px;
  }
  .variable-purchase-item__icon {
    width: 34px;
    height: 34px;
    min-width: 34px;
    padding: 8px;
    margin: 0 7px 0 0;
  }
  .variable-purchase {
    font-size: 11px;
  }
  .variable-purchase li {
    margin: 0 8px 8px 0;
  }
  .benefit-total-box {
    padding: 30px;
  }
  .benefit-total-box .h1 {
    font-size: 36px;
  }
  .advantages-variable-box__icon {
    margin: 0 20px 0 0;
  }
  .h1, h2, .select-room .h1 {
    font-size: 30px;
  }
  h1, .h2 {
    font-size: 24px;
  }
  .nav-tabs .nav-tabs-objects__text {
    padding: 0 0 0 10px;
  }
}