@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  background: #fff;
  color: #000;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
a:hover, a:focus {
  text-decoration: none;
}

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #9E9E9E;
  border-radius: 10px;
  width: 100%;
  height: 50px;
  text-align: center;
  background: transparent;
  color: #000;
  font-size: 16px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #000000;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: #000000;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
  color: #000000;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
  color: #000000;
}
input::placeholder, textarea::placeholder, select::placeholder {
  color: #000000;
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

label {
  display: block;
  width: 100%;
  margin: 0 0 15px;
}
label:last-child {
  margin: 0;
}

textarea {
  resize: none;
  padding: 12px 17px;
  height: 103px;
}

button, .btn {
  outline: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.select-my {
  text-align: left;
  padding: 0 43px 0 22px;
  background: url("../img/arrow-select.svg") no-repeat calc(100% - 20px) center;
  background-size: 21px;
  cursor: pointer;
}

.select-my2 {
  background: url("../img/arrow-select-black.svg") no-repeat calc(100% - 20px) center;
  background-size: 21px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 18px 33px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.btn .svg-icon {
  width: 27px;
  height: 15px;
  margin: 0 0 0 10px;
}
.btn .svg-icon-plus {
  width: 16px;
  height: 16px;
  min-width: 16px;
}
.btn .svg-icon-view {
  width: 16px;
  height: 12px;
  min-width: 16px;
  fill: #EF402F;
}

.btn-sm {
  height: 37px;
  padding: 10px 15px;
}

.btn-md {
  height: 97px;
  padding: 40px;
  text-transform: uppercase;
}

.btn-accent {
  background: #EF402F;
  color: #fff;
}
.btn-accent .svg-icon {
  fill: #fff;
}
.btn-accent:hover {
  background: #1D1D20;
  color: #fff;
}
.btn-accent:hover .svg-icon {
  fill: #fff;
}

.btn-border-grey {
  border: 1px solid #9E9E9E;
  color: #707070;
}
.btn-border-grey:hover {
  background: #EF402F;
  color: #fff;
  border-color: #EF402F;
}

.btn-border-accent {
  border: 1px solid #EF402F;
  color: #EF402F;
}
.btn-border-accent:hover {
  background: #1D1D20;
  color: #fff;
  border-color: #1D1D20;
}

.btn-grey {
  color: #707070;
  background: #EEEEEE;
}
.btn-grey .svg-icon {
  fill: #707070;
}
.btn-grey .svg-icon-heart {
  fill: none;
  stroke: #EF402F;
}
.btn-grey:hover {
  background: #EF402F;
  color: #fff;
}
.btn-grey:hover .svg-icon-view {
  fill: #fff;
}
.btn-grey:hover .svg-icon-heart {
  fill: none;
  stroke: #fff;
}

.btn-white {
  -webkit-box-shadow: 0px -15px 24px rgba(0, 0, 0, 0.05);
          box-shadow: 0px -15px 24px rgba(0, 0, 0, 0.05);
  background: #fff;
  color: #EF402F;
}
.btn-white .svg-icon {
  fill: none;
  stroke: #EF402F;
}
.btn-white:hover {
  color: #fff;
  background: #EF402F;
}
.btn-white:hover .svg-icon {
  stroke: #fff;
}

.btn-black {
  background: #000;
  color: #fff;
}
.btn-black:hover {
  background: #1D1D20;
  color: #fff;
}

.btn-group .btn {
  border-radius: 10px;
  margin: 0 10px 0 0;
}
.btn-group .btn:last-child {
  margin: 0;
}

.btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:nth-child(n+3), .btn-group > :not(.btn-check) + .btn, .btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-radius: 10px;
}

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}

strong, b {
  font-weight: bold;
  display: inline-block;
}

ul, ol {
  padding: 0 0 0 20px;
}

.my-ul {
  list-style: none;
  padding: 0;
}

.list-dots {
  list-style-type: disc;
}

h1, .h2 {
  font-size: 48px;
  text-transform: uppercase;
  width: 100%;
  margin: 0 0 30px;
}
h1 sup, .h2 sup {
  font-size: 30px;
}

.h1 {
  text-transform: uppercase;
  font-size: 96px;
  font-weight: normal;
}

h2 {
  font-size: 40px;
  text-transform: uppercase;
  width: 100%;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

.title-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.title-wrapper h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.text-transform-none {
  text-transform: none;
}

.font-normal {
  font-weight: normal;
}

.nav-breadcrumb {
  margin: 0 0 50px;
  width: 100%;
}

.breadcrumb {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #9E9E9E;
}
.breadcrumb a {
  color: #9E9E9E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.breadcrumb a:hover {
  color: #EF402F;
}
.breadcrumb a:after {
  content: ">";
  display: inline-block;
  margin: 0 7px;
}

.text-uppercase {
  text-transform: uppercase;
}

.box-text {
  font-size: 24px;
  color: #707070;
}
.box-text p {
  margin: 0 0 30px;
}
.box-text p:last-child {
  margin: 0;
}

.bg-grey {
  background: #F2F2F2;
}

.bg-light-grey {
  background: #FAFAFA;
}

.bg-light-green {
  background: #C6EFD7;
}

.container {
  max-width: 1750px;
  padding: 0 15px;
}

.row {
  margin: 0 -15px;
}
.row > * {
  padding: 0 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.wrapper {
  padding: 117px 0 0;
}

.color-accent {
  color: #EF402F;
}

a.color-accent {
  color: #EF402F;
}
a.color-accent:hover {
  color: #000;
}

.color-green {
  color: #21A355;
}

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list-social li {
  margin: 0 18px 0 0;
}
.list-social li:last-child {
  margin: 0;
}
.list-social li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-slider {
  width: 100%;
}

.slick-slide {
  outline: none;
}

.slick-arrow {
  position: absolute;
  z-index: 1;
  opacity: 1;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border: none;
  border-radius: 50%;
  background: #EF402F;
  stroke: #fff;
  fill: none;
  width: 68px;
  height: 68px;
  padding: 23px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.slick-arrow:hover {
  background: #1D1D20;
}
.slick-arrow.slick-disabled {
  opacity: 0;
}

.slick-prev {
  left: 0;
}
.slick-prev svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slick-next {
  right: 0;
}

.slick-dots {
  position: absolute;
  bottom: 35px;
  z-index: 1;
  opacity: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  padding: 0;
}
.slick-dots li {
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin: 0 9px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #fff;
}
.slick-dots li:last-child {
  margin: 0;
}
.slick-dots li.slick-active {
  background: #fff;
}
.slick-dots li button {
  display: none;
}

.label-checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin: 15px 0 0;
  line-height: 1.14;
}

.inp-check {
  display: none;
}

.checkbox-custom {
  margin: 0 12px 0 0;
  position: relative;
  border-radius: 6px;
  background-color: #fff;
  width: 16px;
  height: 16px;
  min-width: 16px;
  cursor: pointer;
}

.inp-check:checked ~ .checkbox-custom {
  background: #fff url("../img/check-black.svg") no-repeat center;
  background-size: 8px;
}

.radio {
  position: relative;
  color: #1D1D20;
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.radio input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #EF402F;
  border-radius: 10px;
  padding: 0;
  z-index: -1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.radio input:checked {
  background: #EF402F;
}
.radio input:checked + .radio-text {
  color: #fff;
}

.radio-text {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.list-radio {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.list-radio li {
  margin: 0 20px 20px 0;
}
.list-radio li:last-child {
  margin: 0 0 20px;
}

.js-tab-content {
  display: none;
}
.js-tab-content.active {
  display: block;
}

.js-tab-trigger.active {
  background: #EF402F;
  color: #fff;
}
.js-tab-trigger.active .variable-purchase-item__icon {
  stroke: #fff;
  border-color: #fff;
}

.toggle-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #707070;
  position: relative;
  z-index: 1;
  font-size: 20px;
}

.cb-value {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: transparent;
  left: 0;
  top: 0;
  border: none;
  cursor: pointer;
  padding: 0;
}

.round-btn {
  position: relative;
  margin: 0 10px;
  width: 39px;
  min-width: 39px;
  height: 20px;
  background: #707070;
  border-radius: 10px;
  cursor: pointer;
  z-index: -1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.round-btn::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  top: 50%;
  right: 4px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: #fff;
  z-index: 1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.toggle-btn.active .round-btn {
  background: #EEEEEE;
}
.toggle-btn.active .round-btn::before {
  right: auto;
  left: 3px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: #EF402F;
}

.toggle-btn__text {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  position: relative;
  z-index: 1;
  color: #000000;
}
.toggle-btn__text:first-child {
  color: #707070;
}

.toggle-btn.active .toggle-btn__text {
  color: #707070;
}
.toggle-btn.active .toggle-btn__text:first-child {
  color: #000000;
}

.link-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 80px auto 0;
  font-size: 14px;
  font-weight: 500;
}
.link-toggle .svg-icon {
  width: 21px;
  height: 10px;
  margin: 0 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  stroke: #EF402F;
  fill: none;
}

.slider-range-input {
  width: 100%;
  border: 1px solid #EF402F;
  border-radius: 5px;
  height: 90px;
  padding: 0 30px;
  color: #000000;
  font-size: 48px;
  text-align: left;
}
.slider-range-input::-webkit-input-placeholder {
  color: #000000;
}
.slider-range-input::-moz-placeholder {
  color: #000000;
}
.slider-range-input:-ms-input-placeholder {
  color: #000000;
}
.slider-range-input::-ms-input-placeholder {
  color: #000000;
}
.slider-range-input::placeholder {
  color: #000000;
}

.ui-widget.ui-widget-content {
  height: 10px;
  background: #EEEEEE;
  border-radius: 5px;
  border: none;
}

.ui-slider .ui-slider-range {
  border-radius: 5px;
}

.ui-slider .ui-slider-handle {
  background: #EF402F;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
}
.ui-slider .ui-slider-handle.ui-state-focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}
.ui-slider .ui-slider-handle.ui-state-focus span {
  color: #1D1D20;
}

.slider-range__handle span {
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin: 5px 0 0;
  color: #1D1D20;
  font-size: 14px;
}