@import "vars"

// header	
header
	position: fixed
	z-index: 5
	width: 100%
	top: 0
	left: 0
	background: #fff
	padding: 34px 0
	.btn-group
		margin: 0 40px 0 0

.phone
	color: #000
	font-size: 20px
	font-weight: 500
	&:hover
		color: $accent		

.logo
	margin: 0
	max-width: 122px
	width: 100%
	@include d-flex

.nav-menu
	margin: 0 auto	

.menu
	display: flex
	align-items: center
	flex-wrap: wrap
	li
		margin: 0 20px 0 0
		&:last-child
			margin: 0
		a
			color: #000000
			&:hover
				color: $accent

.user-navigation
	&__link
		fill: none
		margin: 0 20px 0 0
		stroke: $accent
		width: 24px
		height: 19px
		@include d-flex	
		&:hover
			fill: $accent			
		&:last-child
			margin: 0

.schedule
	color: #363636
	margin: 0 60px 0 0
	span
		display: block
		font-size: 12px			
	p
		font-size: 16px
		font-weight: 500		

.btn-burger
	width: 30px
	height: 25px
	display: none
	align-items: center
	justify-content: center
	margin: 0 0 0 30px
	fill: $accent
// header	end

