/*==========	Desktop First	==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1720px)
	.list-room
		width: 100%
		margin: 10px 0 0

@media only screen and (max-width: 1660px)
	header
		.btn-group
			margin: 0 20px 0 0

	.schedule
		margin: 0 20px 0 0

	.menu li
		margin: 0 10px 0 0

	footer .phone
		font-size: 82px

	.call-box
		padding: 0 0 0 50px

	.benefit-total-box
		margin: 0 auto 24px 0
		&:last-child
			margin: 0
		.h1
			font-size: 80px
		&__right
			padding: 0 0 0 30px

	.investment h2
		width: 100%
		margin: 0 0 25px

	.select-room
		.h1
			font-size: 80px

	.cost-from-box
		padding: 0 0 0 20px
		margin: 0 0 0 20px

	.home-gallery-slider
		.slick-slide
			height: 640px
		&__item
			width: 600px

	.choose-home
		.list-room
			li
				margin: 0 15px 10px 0
				&:last-child
					margin: 0 0 10px

	.select-building
		margin: 90px 0 50px

	.projects-card__body
		flex-direction: column
		align-items: flex-start
		.btn
			margin: 26px 0 0 19px

	.payment-options-line__title
		.h1
			font-size: 60px

	.history-slider, .help-social-slider
		width: calc(100% + 15px)

	.vacansies-wrapper .text
		max-width: 900px

	.document-item
		padding: 20px 30px
		font-size: 22px

@media only screen and (max-width: 1500px)
	.menu
		font-size: 14px

	.phone
		font-size: 16px

	footer .phone
		font-size: 68px

	.h1
		font-size: 86px

	.about-advantages-box p
		font-size: 40px

	.product-information-details
		padding: 30px

@media only screen and (max-width: 1400px)
	.projects-card
		height: 400px
		&__title
			font-size: 36px
			padding: 8px 37px 22px 19px
		.list-labels
			padding: 21px 19px

	.btn-burger
		display: flex

	.nav-menu
		display: none
		position: fixed
		left: 0
		top: 0
		z-index: 10
		height: 100%
		width: 100%
		max-width: 260px
		background: #fff
		padding: 40px 34px
		overflow-y: auto
		.logo, .user-navigation, .btn-callback, .phone, .list-social, .schedule
			display: flex
			flex-wrap: wrap
		.menu
			font-size: 16px
			margin: 60px 0
			li
				margin: 0 0 20px
				width: 100%
				&:last-child
					margin: 0

	header
		.logo
			margin: 0 auto 0 0

	.call-box
		padding: 0 0 0 20px
		.box-text
			max-width: 400px

	footer
		padding: 30px 0 50px
		font-size: 20px
		h3
			margin: 0 0 10px
		.phone
			font-size: 50px

	.contacts-box
		flex-wrap: wrap
		&__left
			width: 100%
		&__right
			margin: 20px 0 0
			.btn
				margin: 20px 0 0

	.variable-purchase
		margin: 0

	.h1
		font-size: 70px

	.select-room__footer .box-text
		max-width: none
		margin: 0 0 10px
		width: 100%

	.select-room .h1
		font-size: 70px

	.about-advantages-box p
		font-size: 36px

	.cost-from-box
		width: 100%
		border: none
		position: relative
		margin: 37px 0 0
		padding: 37px 0 0
		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 119px
			height: 1px
			background: #EF402F

	.options-line-box
		margin: 0 20px 20px 0
		padding: 0 20px 0 0
		&:last-child
			padding: 0
			margin: 0 0 20px

	.home-gallery-slider
		.slick-slide
			height: 500px
		&__item
			width: 450px
			height: 280px
			

	.home-gallery-slider .slick-slide
		padding: 0 0 50px

	.home-gallery-slider__nav
		bottom: 50px

	.home
		margin: 0 0 50px

	.home-gallery .list-social li
		margin: 0 0 25px

	.payment-options-line__title .h1
		font-size: 40px

	.vacansies-wrapper .text
		max-width: 750px

	.document-item__icon
		margin: 0 20px 0 0

@media only screen and (max-width: 1200px)
	.title-section
		padding: 50px 0
		.box-text
			padding: 0 0 0 20px
			font-size: 18px
			line-height: normal

	h1, .h2
		font-size: 40px

	h2
		font-size: 36px

	.h1
		font-size: 60px

	.projects
		h2
			margin: 0 0 30px

	.projects-card
		&__title
			margin: 0 0 20px

	.article-gallery
		width: 100%
		.slick-next
			right: 0
		&__item
			width: 450px

	.article-date
		margin: 0 0 30px

	.variable-purchase-item
		padding: 10px 20px

	.page-purchase
		h1
			margin: 0 0 25px

	.callback-wrapper
		padding: 30px
		&__image
			max-width: 360px

	.select-room .h1
		font-size: 50px

	.objects-photo
		margin: 0 0 27px

	.object-advantages
		padding: 0
		max-width: none
		.text
			max-width: none
		&-item
			&__icon
				margin: 0 20px 0 0

	.page-family
		.h1
			margin: 0 0 27px
			text-transform: none

	.page-family-banner
		margin: 0 0 28px
		.btn
			margin: 35px 0 0 auto

	.about-family-section
		.nav-tabs
			justify-content: flex-start
			.box-text
				margin: 0 0 58px
		.h1
			margin: 0 0 20px

	.about-advantages
		justify-content: space-around
		&-box p
			font-size: 48px

	.about-family-slider
		margin: 55px auto

	.documents
		margin: 68px 0 0
		h2
			font-size: 36px
			margin: 0 0 35px

	.page-product
		h1
			margin: 0 0 30px

	.product-tools
		justify-content: flex-start
		margin: 20px 0 0

	.product-line-subtitle
		margin: 42px 0 48px

	.product-information-gallery
		padding: 0

	.product-information-details
		margin: 27px 0 0
		padding: 20px
		&__body
			margin: 20px 0 32px

	.products-similar
		margin: 50px 0
		h2
			margin: 0 0 16px

	.choose-home-form
		[type="submit"]
			margin: 0

	.payment-options-line__title .h1
		font-size: 36px

	.section-news
		margin: 55px 0

	.best-condition
		margin: 40px 0 0
		padding: 30px
		&::before
			width: calc(100% + 100px)

	.payment-options-line
		.box-text
			font-size: 18px
		&__description
			max-width: 370px

	.btn-all-post
		margin: 23px 0 0

	.new-posts
		margin: 0 0 100px

	.vacansies
		padding: 24px 0

	.vacansies-wrapper
		margin: 23px 0 47px
		.text
			max-width: none
		.btn
			margin: 32px 0 0

	.vacansies-advantages
		justify-content: start

	.vacansies-advantages__item
		width: 50%

	.diplomas
		margin: 0 0 80px
		h2
			margin: 0 0 36px

	.help-social
		margin: 63px 0 88px
		h2
			margin: 0 0 36px

	.company-founder
		background: #fff
		margin: 80px 0 50px
		h2
			font-size: 36px
			max-width: 480px
		&__title
			p
				flex-direction: column
				align-items: flex-start
				margin: 14px 0 0
				a
					display: block
					margin: 14px 0 0
		&__photo
			margin: 30px auto
		&__description
			font-size: 18px
			.text
				max-width: none

	.history
		h2
			margin: 0 0 50px

	.btn-vacansies
		margin: 0 0 35px

	.page-about .box-text
		font-size: 18px

	.history-card .date
		font-size: 80px

@media only screen and (max-width: 992px)
	.title-section
		.box-text
			padding: 0
			border: none
			margin: 30px 0 0

	h1, .h2
		font-size: 36px

	h3
		font-size: 26px

	header
		.schedule, .user-navigation
			display: none

	footer
		padding: 35px 0 30px
		font-size: 18px
		.phone
			font-size: 46px
			margin: 30px 0 20px
		.list-social
			flex-direction: row
			position: relative
			top: 0
			margin: 0 0 0 26px
			li
				margin: 0 18px 0 0
		.btn
			margin: 0

	.call-box
		margin: 37px 0 0
		padding: 30px 0 0
		border: none
		border-top: 1px solid #EF402F
		.box-text
			max-width: none
		&__footer
			margin: 30px 0 0
			width: 100%
			display: flex
			align-items: center
			flex-wrap: wrap

	.link-developer
		margin: 27px auto 0

	.map
		height: 422px
		margin: 42px 0 0

	.contacts-box
		&__address
			br
				display: none

	.btn-clear
		margin: 20px 0 0

	.link-toggle
		margin: 40px auto 0

	.benefit
		.mb-35
			margin-bottom: 30px
		.h1
			margin: 0 0 22px

	.benefit-total-box .h1
		font-size: 60px
		margin: 0

	.callback
		margin: 46px 0 0

	.callback-wrapper
		padding: 28px 25px 0
		flex-direction: column
		align-items: start
		h2
			max-width: none
			margin: 0 0 26px
			font-size: 40px
		&__image
			position: relative
			margin: 19px auto 0
			right: 0

	.btn-md
		height: 57px
		padding: 20px 48px

	.page-commercial
		margin: 0 0 49px
		h1
			margin: 15px 0 25px

	.form-investment
		margin: 25px 0 0

	.select-room
		margin: 47px 0 35px
		padding: 32px 0 66px

	.select-room
		&__image
			max-width: none
			margin: 0 0 35px
		.h1
			font-size: 48px
		.h2
			margin: 0 0 28px
		&__footer
			flex-direction: column
			align-items: flex-start
			.box-text
				margin: 0 0 18px
				max-width: 254px
				font-size: 16px

	.why-investment__image
		min-width: 630px
		margin: -50px -80px 0	0

	.why-investment
		margin: 80px 0 0
		.h2
			margin: 20px 0 40px

		.stages-registration-box
			max-width: none

	.page-product h1
		sup
			font-size: 20px

	.home-gallery-slider
		display: none
		&__nav
			position: relative
			left: 0
			bottom: 0
			padding: 0
			margin: 26px 0 0

	.home-gallery .list-social
		display: none

	.home-slider
		.h1
			margin: 0 0 24px
			max-width: 400px
		&-item
			&__img
				display: flex

	.new-posts
		margin: 0 0 58px

	.select-building
		padding: 25px 0 35px

	.payment-options h2
		margin: 0 0 20px
		font-size: 48px

	.payment-options-line
		padding: 32px 30px
		margin: 0 0 30px
		&__icon
			margin: 0
		&__title
			border: none
			position: relative
			width: calc(100% - 74px)
			padding: 0 0 30px 20px
			margin: 0
			&::before
				content: ''
				position: absolute
				left: 20px
				bottom: 0
				width: 108px
				height: 1px
				background: #000
		&__description
			width: 100%
			padding: 0 0 0 94px
			margin: 30px 0 0
			max-width: none

	.grid-wrapper
		display: flex
		flex-wrap: wrap
		align-items: stretch
		justify-content: space-between
		grid-gap: 0

	.item-b
		width: 100%
		order: -1

	.gallery-projects__item
		width: 100%
		margin: 0 0 15px

	.item-c, .item-d
		width: calc(50% - 10px)
		order: 1

	.diplomas-slider
		padding: 0 68px 0 0
		.slide
			margin: 0 10px 0 0

	.help-social-card
		margin: 0 23px 0 0
		width: 350px
		&__title
			font-size: 18px

	.page-about
		margin: 0 0 40px
		.box-text
			font-size: 16px

	.team
		h2
			margin: 0 0 35px

	.history-slider
		.slick-slide
			margin: 0 45px 0 0

	.history-card .date
		font-size: 60px

@media only screen and (max-width: 768px)
	.btn
		padding: 20px
		height: 57px
		font-size: 14px

	.btn-sm
		padding: 7px 15px
		height: 37px

	header
		padding: 22px 0
		.btn-group
			.btn
				display: none
			.btn-mortgage
				display: flex
				margin: 0

	.wrapper
		padding: 100px 0 0

	.projects-card
		height: 390px

	.projects
		margin: 40px 0 60px

	.mb-50, .mb-40
		margin-bottom: 30px

	.nav-breadcrumb
		margin: 0 0 30px

	h1, .h2
		font-size: 36px

	h3
		font-size: 24px

	.box-text
		font-size: 20px
		p
			margin: 0 0 20px
			&:last-child
				margin: 0

	.benefit-total-box
		padding: 40px
		&__left, &__right
			width: 100%
			padding: 0
			.btn
				margin: 20px 0 0
		&__left
			margin: 0 0 30px
			padding: 0 0 30px
			border: none
			border-bottom: 1px solid #000

	.callback-wrapper
		h2
			font-size: 32px
		.btn-md
			padding: 20px 48px

	.benefit-total-box
		.h1
			font-size: 48px
		&__list
			p
				font-size: 36px

	.slider-range-input
		height: 76px
		font-size: 30px

	.advantages-variable
		margin: 34px 0 0

	.advantages-variable-box
		padding: 32px 20px

	.nav-tabs .nav-tabs-objects
		width: 100%
		margin: 0 0 28px
		&:last-child
			margin: 0

	.tab-content
		margin: 48px 0 0

	.nav-tabs-my .nav-item
		margin: 0 20px 20px 0
		&:last-child
			margin: 0

	.product-information-gallery__direction
		max-width: 88px

	.product-information-gallery__image
		max-width: 300px

	.product-card__footer
		flex-direction: column
		.btn
			margin: 0 0 15px
			&:last-child
				margin: 0

	.mb-45
		margin-bottom: 30px

	.options-line-box .list-radio li
		margin: 0 10px 10px 0
		&:last-child
			margin: 0 0 10px

	.post-card
		width: 320px

	.history-card
		.date
			font-size: 48px

	.history
		h2
			max-width: 300px
			font-size: 36px

@media only screen and (max-width: 576px)
	.container
		padding: 0 20px

	.row
		margin: 0 -11px
		>*
			padding: 0 11px

	header
		.btn
			display: none
		.btn-group
			order: 1
			margin: 0

	.phone
		margin: 0 30px 0 0

	.logo
		max-width: 35px

	.nav-menu
		.logo
			max-width: 122px

	.btn-burger
		order: 2

	.btn-mortgage
		max-width: 80px
		font-size: 14px
		line-height: 17px
		padding: 5px 10px
		height: 44px

	.h1, h2
		font-size: 48px

	.title-section
		padding: 30px 0
		.box-text
			font-size: 16px
		h1
			.svg-icon
				width: 20px
				height: 20px
				min-width: 20px
				margin: 5px 10px 0 0

	h1, .h2
		font-size: 30px

	h2
		font-size: 36px

	h3
		font-size: 24px

	.projects-card
		max-width: none

	footer
		font-size: 16px

	.box-text
		font-size: 16px

	.document-box
		&__body
			padding: 30px 27px 40px
		&__name
			margin: 40px 0 0

	.btn-toggle
		margin: 13px auto 0

	.news-card
		.btn
			margin: 15px 0 0
		&__img
			height: 185px

	.article-text
		font-size: 16px
		p
			margin: 0 0 20px
			&:last-child
				margin: 0

	.article-section
		margin: 32px 0 0
		h2
			font-size: 36px

	.article-gallery

		&::before
			width: 186px
			background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%)
		&__item
			width: 261px

	.article-video
		height: 222px
		margin: 32px 0 0

	.contacts-box__address
		font-size: 16px

	.modal-dialog
		margin: 30px auto

	.modal-content
		padding: 30px
		.btn-close
			right: -10px
			top: -10px
			padding: 10px
			width: 30px
			height: 30px

	.modal-title
		font-size: 24px

	.modal-header
		.box-text
			font-size: 16px

	.toggle-btn
		font-size: 18px

	.comparison-column__content
		margin: 30px 0 0

	.comparison-column__characteristics span
		font-size: 18px

	.benefit-total-box
		width: 100%

	.advantages-variable-box-last
		padding: 14px 0 0

	.stages-registration-box
		font-size: 16px
		&__number
			width: 79px
		&__text
			width: calc(100% - 79px)
			padding: 20px 23px 18px 34px

	.stages-registration
		h2
			font-size: 36px
		.mb-35
			margin-bottom: 20px

	.benefit
		margin: 50px 0

	.about-advantages
		flex-direction: column
		align-items: flex-start
		&-box
			text-align: left
			span
				text-align: center

	.about-family-section
		.h2
			font-size: 36px

	.products .nav-tabs-my
		justify-content: flex-start

	.document-item
		padding: 30px 25px
		&__icon
			margin: 0 25px 0 0

	.product-information-gallery__image
		max-width: 246px

	.list-option
		width: 100%
		margin: 32px 0 0

	.page-product
		margin: 0 0 70px

	.product-card
		padding: 12px
		font-size: 12px
		.list-characteristics
			font-size: 12px
			sup
				font-size: 8px
			p
				margin: 0 0 10px
		&__head
			align-items: flex-start
		&__name
			font-size: 10px
			span
				border: none
				position: relative
				padding: 5px 0 0
				margin: 5px 0 0
				display: block
				&:last-child
					border: none
					padding: 5px 0 0
				&:first-child
					padding: 0
					margin: 0
					&::before
						display: none

				&::before
					content: ''
					position: absolute
					left: 0
					top: 0
					width: 11px
					height: 1px
					background: #000
		&__image
			margin: 23px 0 10px
			padding: 0 0 12px
		&__price-wrapper
			margin: 24px 0 0
			.price
				font-size: 16px
		.economy-item
			font-size: 12px
		&__footer
			margin: 19px 0 0

	.benefit-box-option
		font-size: 10px
		padding: 10px 14px
		height: 32px

	.product-card__image .slick-dots li
		width: 30px
		height: 2px

	.user-navigation__link
		width: 16px
		height: 14px
		margin: 0 15px 0 0

	.product-line-subtitle .product-card__name
		span
			margin: 0 0 0 10px
			padding: 0 0 0 10px
			display: inline-block
			&:first-child
				margin: 0
				padding: 0
			&:last-child
				padding: 0 0 0 10px
			&::before
				width: 1px
				height: 100%
				background: #EF402F

	.options-line-box
		padding: 0
		border: none
		margin: 0 0 20px
		width: 100%
		&:last-child
			margin: 0

	.select-property-wrapper
		position: fixed
		left: 0
		top: 0
		z-index: 10
		width: 100%
		max-width: 280px
		height: 100%
		overflow-y: auto
		padding: 30px 0
		display: none
		.mb-60
			margin-bottom: 30px
		&__close
			display: flex
			align-items: center
			justify-content: center

	.options-line-box .list-radio li
		width: 100%

	.list-room li
		margin: 0 10px 10px 0
		&:last-child
			margin: 0 0 10px

	.page-select-property
		h1
			margin: 0

	.btn-option
		border-radius: 10px

	.sorting-box
		flex-direction: column
		align-items: flex-start
		margin: 0 0 30px
		p
			margin: 0 0 15px

	.search-value
		text-align: left

	.btn-group-navigation
		flex-direction: column
		align-items: center
		margin: 20px auto 0

	.viewed
		margin: 0 auto 47px

	.news-slider
		&::before
			width: 181px
		.news-card
			width: 262px

	.section-news
		.title-wrapper
			margin: 0 0 45px
		h2
			width: 100%
			margin: 0 0 26px

	.best-condition__form
		max-width: 250px
		label
			width: 100%
			margin: 0 0 16px
		[type="submit"]
			padding: 10px
			width: 100%

	.best-condition__content
		margin: 0 0 20px
		.h2
			margin: 0 0 15px
			font-size: 48px

	.new-posts
		margin: 0 0 56px

	.post-card
		width: 253px
		&__img
			height: 253px
		&__title
			line-clamp: 6
			-webkit-line-clamp: 6

	.mb-50, .mb-40
		margin-bottom: 30px

	.vacansies-advantages__item
		width: 100%

	.vacansies-wrapper .text
		font-size: 16px

	.help-social-card
		width: 250px
		&__title
			font-size: 16px
		&__img
			height: 160px

	.history-card
		font-size: 16px

	.company-founder
		margin: 60px 0 50px
		h2
			font-size: 28px

@media only screen and (max-width: 480px)
	.h1, h2
		font-size: 44px

	.home-gallery-slider__nav .btn
		margin: 0 20px 0 0

	.nav-tabs-my .nav-link
		padding: 15px

	.banner-sales
		max-width: 280px	

@media only screen and (max-width: 420px)
	h1, .h2
		font-size: 26px

	h2
		font-size: 28px

	.phone
		margin: 0 10px 0 0

	.btn-burger
		margin: 0 0 0 10px

	footer
		.list-social
			margin: 10px 0 0
			width: 100%
		h3
			font-size: 28px
		.phone
			font-size: 30px

	.news-card__title
		font-size: 20px

	.btn .svg-icon
		width: 20px
		height: 10px

	.toggle-btn
		font-size: 14px

	.h1, h2
		font-size: 36px

	.callback-wrapper
		.btn
			padding: 20px
		h2
			font-size: 26px

	.select-room .h1
		font-size: 36px

	.family-advantages-box
		&__img
			width: 140px
			height: 140px
		&__text
			padding: 0 0 0 15px
			width: calc(100% - 140px)

	.product-card__footer
		flex-direction: column
		.btn
			margin: 0 0 15px
			&:last-child
				margin: 0

	.benefit-box
		font-size: 10px

	.page-product h1
		sup
			font-size: 14px

	.btn-filter
		padding: 10px
		.svg-icon
			height: 12px
			width: 14px
			min-width: 14px

	.home-gallery-slider__nav
		flex-wrap: wrap
		.btn
			width: 100%
			margin: 20px 0 0
			order: 1

	.home-slider .h1
		max-width: 245px

	.payment-options-line
		padding: 24px 20px
		&__icon
			width: 60px
			height: 60px
			min-width: 60px
		&__title
			width: calc(100% - 60px)
			.h1
				font-size: 32px
		&__description
			padding: 0 0 0 80px
			.box-text
				font-size: 16px

	.nav-tabs-my
		.nav-item
			margin: 0 10px 10px 0
		.nav-link
			font-size: 11px
			padding: 10px

	.variable-purchase
		font-size: 11px
		li
			margin: 0 10px 10px 0

	.variable-purchase-item
		padding: 10px 15px
		&__icon
			width: 42px
			height: 42px
			min-width: 42px



@media only screen and (max-width: 370px)
	.phone
		font-size: 13px

	.btn-burger
		width: 20px
		height: 22px

	.btn-mortgage
		font-size: 12px
		max-width: 75px

	.news-card
		&__title
			font-size: 18px
		.btn
			padding: 20px 10px
			width: 100%

	.btn .svg-icon
		width: 14px
		height: 8px

	.btn .svg-icon-plus
		height: 16px

	.btn-clear .svg-icon
		width: 12px
		height: 13px

	.variable-purchase-item
		padding: 10px

	.variable-purchase-item__icon
		width: 26px
		height: 26px
		min-width: 26px
		padding: 5px
		margin: 0 5px 0 0

	.variable-purchase
		font-size: 10.5px
		li
			margin: 0 5px 5px 0

	.benefit-total-box
		padding: 30px

	.benefit-total-box .h1
		font-size: 36px

	.advantages-variable-box__icon
		margin: 0 20px 0 0

	.h1, h2, .select-room .h1
		font-size: 30px

	h1, .h2
		font-size: 24px

	.btn
		padding: 10px

	.nav-tabs .nav-tabs-objects__text
		padding: 0 0 0 10px

	.product-card
		font-size: 10px
		padding: 10px
		.economy-item
			font-size: 10px
		&__price-wrapper
			.price
				font-size: 14px

	.family-advantages-box
		font-size: 16px

	.btn-filter .svg-icon
		height: 12px
		width: 14px
		min-width: 14px

	.payment-options-line
		padding: 24px 15px
		&__title
			.h1
				font-size: 28px

	.best-condition__content
		.h2
			font-size: 36px

	.document-item
		font-size: 18px

	.document-box__body
		padding: 30px 20px
		width: calc(100% - 120px)

	.document-box__title
		font-size: 19px

	.document-box__size
		width: 120px
