/*==========	Desktop First	==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1400px)
	.projects-card
		margin: 0 30px 30px 0
		max-width: 340px
		&__link
			font-size: 18px
		&__title
			font-size: 16px
		&:last-child
			margin: 0 0 30px

@media only screen and (max-width: 1200px)
	.title-section
		padding: 50px 0
		.box-text
			padding: 0 0 0 20px
			font-size: 18px
			line-height: normal

	h1
		font-size: 40px

	h2
		font-size: 30px

	.projects
		h2
			margin: 0 0 30px

	.projects-card
		&__title
			margin: 0 0 20px

@media only screen and (max-width: 992px)
	.box-text
		font-size: 16px

	.title-section
		.box-text
			padding: 0
			border: none
			margin: 30px 0 0

	h1
		font-size: 36px

	h3
		font-size: 26px

	footer
		padding: 50px 0 30px
		.phone
			font-size: 30px

	.address
		font-size: 16px

@media only screen and (max-width: 768px)
	.btn
		padding: 10px 20px
		height: 46px
		font-size: 12px

	header
		padding: 15px 0

	.phone
		font-size: 14px

	.logo
		max-width: 160px

	.projects-card
		margin: 0 auto 30px
		max-width: 48%
		&__body
			flex-direction: column
			align-items: center
			margin: 20px 0 0
		&__link
			margin: 0 auto 10px

	.projects
		margin: 50px 0 60px

	footer
		.phone
			margin: 20px 0 10px
		.btn
			margin: 20px 0 0	
		h3
			margin: 0 0 20px
		.phone
			font-size: 22px	

	.address
		margin: 0 0 20px		

@media only screen and (max-width: 576px)
	header
		.btn
			display: none
		.phone
			margin: 0

	.logo
		max-width: 150px

	.title-section
		padding: 30px 0
		.box-text
			font-size: 16px
		h1
			.svg-icon
				width: 20px
				height: 20px
				min-width: 20px
				margin: 5px 10px 0 0

	h1
		font-size: 30px

	h2
		font-size: 26px	

	h3
		font-size: 24px


	.projects-card
		max-width: none

@media only screen and (max-width: 480px)

@media only screen and (max-width: 420px)
	h1
		font-size: 26px

@media only screen and (max-width: 370px)
