@import 'fonts'
@import 'vars'

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
	display: block

blockquote, q
	quotes: none

blockquote:before, blockquote:after, q:before, q:after
	content: ''
	content: none

table
	border-collapse: collapse
	border-spacing: 0

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: normal
	font-family: $default-font
	font-weight: normal
	background: #fff
	color: #000

// html, body	
// 	overflow-x: hidden

img
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

a
	display: block
	text-decoration: none
	transition: .3s ease
	outline: none
	width: fit-content

	&:hover, &:focus
		text-decoration: none

input, textarea, select
	outline: none
	box-shadow: none
	appearance: none
	padding: 0 15px
	box-sizing: border-box
	font-family: $default-font
	border: 1px solid #9E9E9E
	border-radius: 10px
	width: 100%
	height: 50px
	text-align: center
	background: transparent
	color: #000
	font-size: 16px

	&::placeholder
		color: #000000

	&:hover, &:focus
		outline: none
		box-shadow: none

label
	display: block
	width: 100%
	margin: 0 0 15px

	&:last-child
		margin: 0

textarea
	resize: none
	padding: 12px 17px
	height: 103px

button, .btn
	outline: none
	transition: .3s ease
	cursor: pointer
	box-shadow: none
	font-family: $default-font
	padding: 0
	margin: 0
	border: none
	border-radius: 0

	&:hover, &:focus
		outline: none
		box-shadow: none

.select-my
	text-align: left
	padding: 0 43px 0 22px 	
	background: url('../img/arrow-select.svg') no-repeat calc(100% - 20px) center	
	background-size: 21px
	cursor: pointer

.btn
	display: flex
	align-items: center
	justify-content: center
	text-align: center
	padding: 10px 33px
	font-size: 14px
	font-weight: 500
	height: 57px
	border-radius: 10px
	transition: 0.3s ease
	.svg-icon
		width: 27px
		height: 15px
		margin: 0 0 0 10px
	.svg-icon-plus
		width: 16px
		height: 16px
		min-width: 16px
	.svg-icon-view
		width: 16px
		height: 12px
		min-width: 16px	
		fill: $accent

.btn-sm
	height: 37px
	padding: 10px 15px

.btn-md
	height: 97px
	padding: 40px
	text-transform: uppercase

.btn-accent
	background: $accent
	color: #fff
	.svg-icon
		fill: #fff
	&:hover
		background: $hover
		color: #fff
		.svg-icon
			fill: #fff

.btn-border-grey
	border: 1px solid #9E9E9E
	color: $grey
	&:hover
		background: $accent
		color: #fff
		border-color: $accent

.btn-border-accent
	border: 1px solid $accent
	color: $accent
	&:hover
		background: $hover
		color: #fff
		border-color: $hover

.btn-grey
	color: #707070
	background: #EEEEEE
	.svg-icon
		fill: #707070
	&:hover
		background: $accent
		color: #fff
		.svg-icon-view
			fill: #fff	

.btn-group
	.btn
		border-radius: 10px
		margin: 0 10px 0 0
		&:last-child
			margin: 0

.btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:nth-child(n+3), .btn-group>:not(.btn-check)+.btn, .btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle)
	border-radius: 10px

.svg-icon
	display: inline-block
	width: 100%
	height: 100%

strong, b
	font-weight: bold
	display: inline-block

ul, ol
	padding: 0 0 0 20px

.my-ul
	list-style: none
	padding: 0

.list-dots
	list-style-type: disc

h1, .h2
	font-size: 48px
	text-transform: uppercase
	width: 100%
	margin: 0 0 30px

.h1
	text-transform: uppercase
	font-size: 96px
	font-weight: normal

h2
	font-size: 40px
	text-transform: uppercase
	width: 100%

h3
	font-size: 24px
	font-weight: 700

.text-transform-none
	text-transform: none

.font-normal
	font-weight: normal	

.nav-breadcrumb
	margin: 0 0 50px
	width: 100%

.breadcrumb
	width: 100%
	margin: 0
	padding: 0
	font-size: 12px
	color: #9E9E9E
	a
		color: #9E9E9E
		display: flex
		align-items: center
		&:hover
			color: $accent
		&:after
			content: '>'
			display: inline-block
			margin: 0 7px

.text-uppercase
	text-transform: uppercase

.box-text
	font-size: 24px
	color: #707070
	p
		margin: 0 0 30px
		&:last-child
			margin: 0

.bg-grey
	background: #F2F2F2

.bg-light-grey
	background: #FAFAFA

.container
	max-width: 1750px
	padding: 0 15px

.row
	margin: 0 -15px
	>*
		padding: 0 15px

.mb-20
	margin-bottom: 20px

.mb-30
	margin-bottom: 30px

.mb-35	
	margin-bottom: 35px	

.mb-40
	margin-bottom: 40px

.mb-50
	margin-bottom: 50px

.mb-60
	margin-bottom: 60px

.wrapper
	padding: 117px 0 0

	

.color-accent
	color: $accent

a.color-accent
	color: $accent
	&:hover
		color: #000

.color-green
	color: #21A355		

.list-social
	display: flex
	align-items: center
	li
		margin: 0 18px 0 0
		&:last-child
			margin: 0
		a
			@include d-flex

.slick-slider
	width: 100%

.slick-slide
	outline: none

.slick-arrow
	position: absolute
	z-index: 1
	opacity: 1
	top: 50%
	transform: translate(0,-50%)
	border: none
	border-radius: 50%
	background: $accent
	stroke: #fff
	fill: none
	width: 68px
	height: 68px
	padding: 23px
	cursor: pointer
	transition: .3s ease
	&:hover
		background: $hover
	&.slick-disabled
		opacity: 0

.slick-prev
	left: 0
	svg
		transform: rotate(180deg)

.slick-next
	right: 0

//checkbox my
.label-checkbox
	position: relative
	display: flex
	align-items: flex-start
	color: rgba(255, 255, 255, 0.5)
	font-size: 14px
	margin: 15px 0 0
	line-height: 1.14

.inp-check
	display: none

.checkbox-custom
	margin: 0 12px 0 0
	position: relative
	border-radius: 6px
	background-color: #fff
	width: 16px
	height: 16px
	min-width: 16px
	cursor: pointer

.inp-check:checked ~ .checkbox-custom
	background: #fff url("../img/check-black.svg") no-repeat center
	background-size: 8px
//checkbox my end

.radio
	position: relative
	color: #1D1D20
	font-size: 14px
	font-weight: 500
	display: flex
	align-items: center
	width: fit-content
	padding: 20px
	cursor: pointer
	transition: .3s ease
	input
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		border: 1px solid $accent
		border-radius: 10px
		padding: 0
		z-index: -1
		transition: .3s ease
		&:checked
			background: $accent
			+ .radio-text
				color: #fff

.radio-text
	transition: .3s ease

.list-radio
	width: 100%
	display: flex
	align-items: flex-start
	flex-wrap: wrap
	li
		margin: 0 20px 20px 0
		&:last-child
			margin: 0	0 20px

.js-tab-content
	display: none
	&.active
		display: block

.js-tab-trigger
	&.active
		background: $accent
		color: #fff
		.variable-purchase-item__icon
			stroke: #fff		
			border-color: #fff			

.toggle-btn
	display: flex
	align-items: center
	color: #707070
	position: relative
	z-index: 1
	font-size: 20px

.cb-value
	position: absolute
	z-index: 2
	width: 100%
	height: 100%
	background: transparent
	left: 0
	top: 0
	border: none
	cursor: pointer
	padding: 0

.round-btn
	position: relative
	margin: 0 10px
	width: 39px
	min-width: 39px
	height: 20px
	background: #707070
	border-radius: 10px
	cursor: pointer
	z-index: -1
	transition: 0.3s ease
	&::before
		content: ""
		position: absolute
		border-radius: 50%
		width: 12px
		height: 12px
		top: 50%
		right: 4px
		transform: translate(0, -50%)
		background: #fff
		z-index: 1
		transition: 0.5s ease

.toggle-btn.active
	.round-btn
		background: #EEEEEE
		&::before
			right: auto
			left: 3px
			transform: translate(0, -50%)
			background: #EF402F

.toggle-btn__text
	transition: 0.5s ease
	position: relative
	z-index: 1
	color: #000000
	&:first-child
		color: #707070

.toggle-btn.active

	.toggle-btn__text
		color: #707070
		&:first-child
			color: #000000

.link-toggle
	display: flex
	align-items: center
	justify-content: center
	margin: 80px auto 0
	font-size: 14px
	font-weight: 500
	.svg-icon
		width: 21px
		height: 10px
		margin: 0 0 0 10px
		@include d-flex
		stroke: $accent
		fill: none


// slider range
.slider-range-input
	width: 100%
	border: 1px solid #EF402F
	border-radius: 5px
	height: 90px
	padding: 0 30px
	color: #000000
	font-size: 48px
	text-align: left
	&::placeholder
		color: #000000	

.ui-widget.ui-widget-content
	height: 10px
	background: #EEEEEE
	border-radius: 5px
	border: none

.ui-slider .ui-slider-range
	border-radius: 5px

.ui-slider .ui-slider-handle
	background: #EF402F
	width: 20px
	height: 20px
	border-radius: 50%
	border: none
	&.ui-state-focus
		box-shadow: none
		outline: none	
		span
			color: #1D1D20	

.slider-range__handle
	span
		position: absolute
		left: 50%
		top: 100%
		transform: translate(-50%,0)
		margin: 5px 0 0
		color: #1D1D20
		font-size: 14px		
